/* Custom YouTube Playlists */

iframe {
	border: 0;
}

body.videos .page-elements,
body.videos .elements {
	max-width: 1050px;
}

.custom-playlist {
	width: 100%;
	position: relative;
}

.playlist-thumb {
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 0;
	padding-top: 56%;
}
.playlist-preview-first {
	width: 64%;
	position: relative;
}
.playlist-preview-first svg {
	position: absolute;
	width: 70px;
	top: 45%;
	top: calc( 50% - 35px );
	left: 45%;
	left: calc( 50% - 35px );
	opacity: 0.8;
	transition: opacity 300ms, fill 300ms;
	fill: #fff;
}
.playlist-preview-first svg:hover {
	opacity: 1;
	fill: #aa2222;
}
.playlist-list {
	position:absolute;
	right:0;
	top:0;
	width: 36%;
	height:100%;
	overflow-y:scroll;
}
.playlist-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.playlist-list li {
	margin: 0;
	padding: 0 10px 10px 10px;
	list-style: none;
	clear: both;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.4;
	vertical-align: middle;
}
.playlist-list li a {
	text-decoration: none;
	outline: none;
	color: #333;
}
.playlist-list li a:focus img {
	outline: 2px solid rgba(0,0,0,0.5);
}

.playlist-small-thumb {
	width: 70px;
	float: left;
}
.playlist-num {
	float: left;
	padding: 0 10px 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	width: 40px;
	box-sizing: border-box;
	text-align: center;
}
.playlist-item-title {
	float: left;
	width: 50%;
	width: calc( 100% - 110px );
	font-size: 0.9em;
}

.mfp-iframe-scaler .mfp-bottom-bar {
	margin-top: 10px;
}

/* new api player css */

.custom-api-playlist {
	text-align: left;

	/* same as regular playlist */
	position: relative;
	width: 100%;
}

.mfp-content .nav-button {
	position: absolute;
	color: #fff;
	cursor: pointer;
}

/* single popup layout */

.single-popup.player-popup {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.single-popup .player-popup-inner {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 900px;
	line-height: 0;
}

/* cover popup layout */

.cover-popup.player-popup {
	margin: 20px;
}

.cover-popup .playlist-preview-first {
	width: 71%;
}

.cover-popup .playlist-list {
	width: 28%;
	color: #fff;
}

.cover-popup iframe {
	display: block;
	background: #000;
	box-shadow: 0 0 8px rgb(0 0 0 / 60%);
}

.custom-api-playlist.cover-popup .nav-buttons {
	top: 55px;
	width: 71%;
}

.custom-api-playlist.cover-popup .nav-buttons span {
	padding-top: 5px;
}

.cover-popup .nav-buttons .next.mfp-arrow-right {
	right: 35px;
}

.cover-popup .nav-buttons .previous.mfp-arrow-left {
	left: 35px;
}

.cover-popup .mfp-arrow-right::after,
.cover-popup .mfp-arrow-right::before {
	left: 60px;
}

.cover-popup .mfp-arrow-left::after,
.cover-popup .mfp-arrow-left::before {
	left: -60px;
}

.cover-popup .mfp-arrow::after,
.cover-popup .mfp-arrow::before {
	margin-top: 0;
}

.cover-popup .video-caption {
    float: none;
    text-align: center;
}

.player-popup button.mfp-close {
	top: -44px;
	right: -44px;
	color: #fff;
}

.api-playlist-anchor {
	position: relative;
}

.api-playlist-anchor img {
    min-width: 200px;
    min-height: 200px;
    background: #CCC;
}

.api-playlist-anchor .fa-youtube-play {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 4em;
	transform: translateX(-50%) translateY(-50%);
}

.custom-api-playlist iframe {
	background: #000;
}

.custom-api-playlist .nav-buttons {
	position: relative;
	width: 64%;	
}

.custom-api-playlist .nav-buttons .previous {
	left: 0;
}

.custom-api-playlist .nav-buttons .next {
	right: 0;
	text-align: right;
}

.custom-api-playlist .nav-button {
	display: none;
}

/* play in place layout */

.load-none .nav-buttons,
.load-first .nav-buttons,
.load-all .nav-buttons
 {
	top: 55px;
}

.custom-api-playlist .playlist-preview,
.load-none .nav-button,
.load-first .nav-button,
.load-all .nav-button {
	cursor: pointer;
}

.load-none .mfp-arrow::after,
.load-none .mfp-arrow::before,
.load-first .mfp-arrow::after,
.load-first .mfp-arrow::before,
.load-all .mfp-arrow::after,
.load-all .mfp-arrow::before {
	content: unset;
}

.load-none .media-section,
.load-first .media-section,
.load-all .media-section {
	margin-bottom: 1em;
}

/* end new api playlist */


@media only screen and (max-width: 760px) {
	.playlist-preview-first {
		width: 100%;
	}
	.playlist-list {
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
		height: auto;
		overflow-y: visible;
		margin-top: 10px;
	}
	.playlist-list li {
		padding: 0 0 10px 0;
	}
}

/* FITVIDS */

.fitvids {
	margin: 1em 0;
}
.fitvids:first-child {
	margin-top: 0;
}
